<%= form_for(@brewed_coffee) do |f| %>
  <% if @brewed_coffee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewed_coffee.errors.count, "error") %> prohibited this brewed_coffee from being saved:</h2>

      <ul>
      <% @brewed_coffee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
